//Colors
$header-bg-color: #111646;
$lighten-header-bg-color: #3a407e;
$card-bg-color: #cdcfdd;
$btn-action-color: #97baff;
$btn-create-color: #97d0a4;
$btn-update-color: #f8ffab;
$btn-delete-color: #ffab98;

//Sizes
$header-height: 2.5rem;
